<h2 class="text-center m-3">About</h2>

<div class="row">
  <div class="col-sm-10 offset-sm-1 text-center">
    <p>
      ようこそ、【Pick up! & Go!】へ！<br>
      このサイトは、みなさんの知りたい・行きたいスポットを、<br>
      実際に訪れた方の投稿を見ることで探すことができるサイトです！<br>
      <br>
      「行ってみたいけど、どうやって行くんだろう？」<br>
      「観光地がたくさんあって、どこに行けばいいのか悩むなあ」<br>
      「近くには他にどんなスポットがあるんだろう？」<br>
      「興味はあるけど、実際はどんな所なんだろう？」<br>
      <br>
      行ったことのない土地に行く時は考えることがたくさんありますよね。<br>
      <br>
      そんな時に！ぜひこのサイトでおすすめスポットを探してみて下さい！<br>
      きっと素敵な場所に導いてくれるはずです！！<br>
      <br>
      さらに、あなたのおすすめスポットもみなさんに紹介してみませんか？<br>
      地元で密かに人気の、綺麗な景色が見える公園や、<br>
      安くておいしい、路地裏の名店などなど！<br>
      たくさんの人に共有すれば、さらに素敵な出会いになるはずです！<br>
      <br>
      <%= link_to "新規会員登録をして、おすすめスポットを投稿する！", new_user_registration_path, class:"btn btn-outline-info" %>
    </p>
  </div>
</div>
